@import "src/themes";

.no-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  height: 100%;

  h2 {
    color: $primary;
    margin: 0.5em 0;
  }

  .calendar {
    font-size: 12em;
    display: contents;
    color: $secondary;
  }

  span {
    text-align: center;
    padding: 1em;
  }

  .view-all {
    margin: 0 2em;
  }
}