@import "src/themes";

section {
  display: flex;
  flex-direction: column;


  h1 {
    color: $primary;
    margin: 0.5em 0.25em;
    font-weight: 700;
    font-size: 2.28em;
    font-family: helvetica;
  }
 .event-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;

   .btn-group {
     width: 80%;
     //max-width: 70em;
     margin-top: 1em;

     .btn {
       border: 1px solid $secondary;
       font-size: x-small;
     }

     .selected {
       background-color: $secondary;
       color: white;
     }
   }
 }
}