section {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

h1 {
  color: #004DFF;
  margin: 1em 0;
  font-weight: 700;
  font-size: 2.28em;
  font-family: helvetica;
}

h2 {
  color: #004DFF;
  margin: 1em 0;
}

.btn-group {
  width: 100%;

  .btn {
    border: 1px solid #ADC7FF;
    font-size: x-small;
  }

  .selected {
    background-color: #739CFF;
    color: white;
  }
}

.no-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;

  .calendar {
    font-size: 15em;
    color: #ADC7FF;
    margin: .15em;
  }

  span {
    text-align: center;
  }

  .view-all {
    width: 100%;
    margin: 4em 1.5em 1em 1.5em;
  }
}

.layout {
  display: flex;
  flex-direction: column;
}

@media(min-width: 800px) {
  .layout {
    flex-direction: row;
  }
}

.calendar-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0px 10px 20px 0px hsl(0, 0%, 80%);
}