@import 'src/themes.scss';

h1 {
  display: flex;
  justify-content: center;
}

#newPassword {
  margin-bottom: .5em;
}

.home-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordSuccess {
  display: flex;
  justify-content: center;
  text-align: center;
}

button {
  display: block;
  background-color: $primary;
  color: white;
  width: 15em;
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 400;
  margin: 1em 0 0 0;
}

button:hover {
  background-color: white;
  border-color: $primary;
  color: black;
}
